.wi-content-block.wi-middle-centered {
    padding-top: 20%;
    text-align:center;
}

@media only screen and (min-width: 250px) and (max-width: 414px) and (orientation: portrait) {
    .wi-content-block.wi-middle-centered {
        padding-top: 60%;
        text-align:center;
    }
}
@media only screen and (min-height: 730px) and (max-height: 812px) and (orientation: portrait) {
    .wi-content-block.wi-middle-centered {
        padding-top: 80%;
        text-align:center;
    }
}